.listing {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.listing li {
	display: block;
	list-style: none outside;
	flex: 0 0 31%;
}

.listing a {
	display: block;
	background: #fff;
	border-radius: 0.3em;
	color: #333;
	text-decoration: none;
	box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
	padding: 1rem 1.5rem;
}

.listing a span {
	display: block;
}

.listing a .title {
	font-weight: bold;
	font-size: 1.2rem;
	padding-bottom: 4rem;
}